USE [HowKteam]
GO
/****** Object:  Table [dbo].[BOMON]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BOMON](
	[MABM] [nchar](4) NOT NULL,
	[TENBM] [nchar](50) NULL,
	[PHONG] [char](3) NULL,
	[DIENTHOAI] [char](11) NULL,
	[TRUONGBM] [nchar](3) NULL,
	[MAKHOA] [nchar](4) NULL,
	[NGAYNHANCHUC] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUDE]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUDE](
	[MACD] [nchar](4) NOT NULL,
	[TENCD] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONGVIEC]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGVIEC](
	[MADT] [nchar](4) NOT NULL,
	[SOTT] [int] NOT NULL,
	[TENCV] [nvarchar](50) NULL,
	[NGAYBD] [datetime] NULL,
	[NGAYKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC,
	[SOTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAI](
	[MADT] [nchar](4) NOT NULL,
	[TENDT] [nvarchar](50) NULL,
	[CAPQL] [nchar](20) NULL,
	[KINHPHI] [float] NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[MACD] [nchar](4) NULL,
	[GVCNDT] [nchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [nchar](3) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[LUONG] [float] NULL,
	[PHAI] [nchar](3) NULL,
	[NGSINH] [date] NULL,
	[DIACHI] [nchar](50) NULL,
	[GVQLCM] [nchar](3) NULL,
	[MABM] [nchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GV_DT]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_DT](
	[MAGV] [nchar](3) NOT NULL,
	[DIENTHOAI] [char](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[DIENTHOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKHOA] [nchar](4) NOT NULL,
	[TENKHOA] [nvarchar](50) NULL,
	[NAMTL] [int] NULL,
	[PHONG] [char](3) NULL,
	[DIENTHOAI] [char](10) NULL,
	[TRUONGKHOA] [nchar](3) NULL,
	[NGAYNHANCHUC] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHOA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOITHAN]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOITHAN](
	[MAGV] [nchar](3) NOT NULL,
	[TEN] [nchar](12) NOT NULL,
	[NGSINH] [datetime] NULL,
	[PHAI] [nchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[TEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMGIADT]    Script Date: 10-05-2020 10:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMGIADT](
	[MAGV] [nchar](3) NOT NULL,
	[MADT] [nchar](4) NOT NULL,
	[STT] [int] NOT NULL,
	[PHUCAP] [float] NULL,
	[KETQUA] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC,
	[MADT] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BOMON] ([MABM], [TENBM], [PHONG], [DIENTHOAI], [TRUONGBM], [MAKHOA], [NGAYNHANCHUC]) VALUES (N'CNTT', N'Công nghệ tri thức                                ', N'B15', N'0838126126 ', NULL, N'CNTT', NULL)
INSERT [dbo].[BOMON] ([MABM], [TENBM], [PHONG], [DIENTHOAI], [TRUONGBM], [MAKHOA], [NGAYNHANCHUC]) VALUES (N'HHC ', N'Hóa hữu cơ                                        ', N'B44', N'0838222222 ', NULL, N'HH  ', NULL)
INSERT [dbo].[BOMON] ([MABM], [TENBM], [PHONG], [DIENTHOAI], [TRUONGBM], [MAKHOA], [NGAYNHANCHUC]) VALUES (N'HL  ', N'Hóa Lý                                            ', N'B42', N'0838878787 ', NULL, N'HH  ', NULL)
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'NCPT', N'Nghiên cứu phát triển')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'QLGD', N'Quản lý giáo dục')
INSERT [dbo].[CHUDE] ([MACD], [TENCD]) VALUES (N'UDCN', N'Ứng dụng công nghệ')
INSERT [dbo].[CONGVIEC] ([MADT], [SOTT], [TENCV], [NGAYBD], [NGAYKT]) VALUES (N'001 ', 1, N'Khởi tạo và Lập kế hoạch', CAST(N'2007-10-20 00:00:00.000' AS DateTime), CAST(N'2008-12-20 00:00:00.000' AS DateTime))
INSERT [dbo].[CONGVIEC] ([MADT], [SOTT], [TENCV], [NGAYBD], [NGAYKT]) VALUES (N'001 ', 2, N'Xác định yêu cầu', CAST(N'2008-12-21 00:00:00.000' AS DateTime), CAST(N'2008-03-21 00:00:00.000' AS DateTime))
INSERT [dbo].[CONGVIEC] ([MADT], [SOTT], [TENCV], [NGAYBD], [NGAYKT]) VALUES (N'001 ', 3, N'Phân tích hệ thống', CAST(N'2008-03-22 00:00:00.000' AS DateTime), CAST(N'2008-05-22 00:00:00.000' AS DateTime))
INSERT [dbo].[DETAI] ([MADT], [TENDT], [CAPQL], [KINHPHI], [NGAYBD], [NGAYKT], [MACD], [GVCNDT]) VALUES (N'001 ', N'HTTT quản lý các trường ĐH', N'ĐHQG                ', 20, CAST(N'2007-10-20' AS Date), CAST(N'2008-10-20' AS Date), N'QLGD', N'002')
INSERT [dbo].[DETAI] ([MADT], [TENDT], [CAPQL], [KINHPHI], [NGAYBD], [NGAYKT], [MACD], [GVCNDT]) VALUES (N'002 ', N'HTTT quản lý giáo vụ cho một Khoa', N'Trường              ', 20, CAST(N'2000-10-12' AS Date), CAST(N'2001-10-12' AS Date), N'QLGD', N'002')
INSERT [dbo].[DETAI] ([MADT], [TENDT], [CAPQL], [KINHPHI], [NGAYBD], [NGAYKT], [MACD], [GVCNDT]) VALUES (N'003 ', N'Nghiên cứu chế tạo sợi Nanô Platin', N'ĐHQG                ', 300, CAST(N'2008-05-15' AS Date), CAST(N'2010-05-15' AS Date), N'NCPT', N'005')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [LUONG], [PHAI], [NGSINH], [DIACHI], [GVQLCM], [MABM]) VALUES (N'001', N'Nguyễn Hoài An', 2000, N'Nam', CAST(N'1973-02-15' AS Date), N'25/3 Lạc Long Quân, Q.10,TP HCM                   ', NULL, N'MMT ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [LUONG], [PHAI], [NGSINH], [DIACHI], [GVQLCM], [MABM]) VALUES (N'002', N'Trần Trà Hương', 2500, N'Nữ ', CAST(N'1960-06-20' AS Date), N'125 Trần Hưng Đạo, Q.1, TP HCM                    ', NULL, N'HTTT')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HOTEN], [LUONG], [PHAI], [NGSINH], [DIACHI], [GVQLCM], [MABM]) VALUES (N'003', N'Nguyễn Ngọc Ánh', 2200, N'Nữ ', CAST(N'1975-05-11' AS Date), N'12/21 Võ Văn Ngân Thủ Đức, TP HCM                 ', N'002', N'HTTT')
INSERT [dbo].[GV_DT] ([MAGV], [DIENTHOAI]) VALUES (N'001', N'0838912112')
INSERT [dbo].[GV_DT] ([MAGV], [DIENTHOAI]) VALUES (N'001', N'0903123123')
INSERT [dbo].[GV_DT] ([MAGV], [DIENTHOAI]) VALUES (N'002', N'0913454545')
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTL], [PHONG], [DIENTHOAI], [TRUONGKHOA], [NGAYNHANCHUC]) VALUES (N'CNTT', N'Công nghệ thông tin', 1995, N'B11', N'0838123456', N'002', CAST(N'2005-02-20 00:00:00.000' AS DateTime))
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTL], [PHONG], [DIENTHOAI], [TRUONGKHOA], [NGAYNHANCHUC]) VALUES (N'HH  ', N'Hóa học', 1980, N'B41', N'0838456456', N'007', CAST(N'2001-10-15 00:00:00.000' AS DateTime))
INSERT [dbo].[KHOA] ([MAKHOA], [TENKHOA], [NAMTL], [PHONG], [DIENTHOAI], [TRUONGKHOA], [NGAYNHANCHUC]) VALUES (N'SH  ', N'Sinh học', 1980, N'B31', N'0838454545', N'004', CAST(N'2000-10-11 00:00:00.000' AS DateTime))
INSERT [dbo].[NGUOITHAN] ([MAGV], [TEN], [NGSINH], [PHAI]) VALUES (N'001', N'Hùng        ', CAST(N'1990-01-14 00:00:00.000' AS DateTime), N'Nam')
INSERT [dbo].[NGUOITHAN] ([MAGV], [TEN], [NGSINH], [PHAI]) VALUES (N'001', N'Thủy        ', CAST(N'1994-12-08 00:00:00.000' AS DateTime), N'Nữ ')
INSERT [dbo].[NGUOITHAN] ([MAGV], [TEN], [NGSINH], [PHAI]) VALUES (N'003', N'Hà          ', CAST(N'1998-09-03 00:00:00.000' AS DateTime), N'Nữ ')
INSERT [dbo].[THAMGIADT] ([MAGV], [MADT], [STT], [PHUCAP], [KETQUA]) VALUES (N'001', N'002 ', 1, 0, NULL)
INSERT [dbo].[THAMGIADT] ([MAGV], [MADT], [STT], [PHUCAP], [KETQUA]) VALUES (N'001', N'002 ', 2, 2, NULL)
INSERT [dbo].[THAMGIADT] ([MAGV], [MADT], [STT], [PHUCAP], [KETQUA]) VALUES (N'002', N'001 ', 4, 2, N'Đạt')
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_HG10_MAKHOA] FOREIGN KEY([MAKHOA])
REFERENCES [dbo].[KHOA] ([MAKHOA])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_HG10_MAKHOA]
GO
ALTER TABLE [dbo].[BOMON]  WITH CHECK ADD  CONSTRAINT [FK_HG11_TRUONGBM] FOREIGN KEY([TRUONGBM])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[BOMON] CHECK CONSTRAINT [FK_HG11_TRUONGBM]
GO
ALTER TABLE [dbo].[CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_HG2_MADT] FOREIGN KEY([MADT])
REFERENCES [dbo].[DETAI] ([MADT])
GO
ALTER TABLE [dbo].[CONGVIEC] CHECK CONSTRAINT [FK_HG2_MADT]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_HG3_MACD] FOREIGN KEY([MACD])
REFERENCES [dbo].[CHUDE] ([MACD])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_HG3_MACD]
GO
ALTER TABLE [dbo].[DETAI]  WITH CHECK ADD  CONSTRAINT [FK_HG4_GVCNDT] FOREIGN KEY([GVCNDT])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[DETAI] CHECK CONSTRAINT [FK_HG4_GVCNDT]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HG6_GVQLCM] FOREIGN KEY([GVQLCM])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_HG6_GVQLCM]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_HG9_MABM] FOREIGN KEY([MABM])
REFERENCES [dbo].[BOMON] ([MABM])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_HG9_MABM]
GO
ALTER TABLE [dbo].[GV_DT]  WITH CHECK ADD  CONSTRAINT [FK_HG12_MAGV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[GV_DT] CHECK CONSTRAINT [FK_HG12_MAGV]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_HG7_TRUONGKHOA] FOREIGN KEY([TRUONGKHOA])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_HG7_TRUONGKHOA]
GO
ALTER TABLE [dbo].[NGUOITHAN]  WITH CHECK ADD  CONSTRAINT [FK_HG8_MAGV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[NGUOITHAN] CHECK CONSTRAINT [FK_HG8_MAGV]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_HG1_MADT] FOREIGN KEY([MADT], [STT])
REFERENCES [dbo].[CONGVIEC] ([MADT], [SOTT])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_HG1_MADT]
GO
ALTER TABLE [dbo].[THAMGIADT]  WITH CHECK ADD  CONSTRAINT [FK_HG5_MAGV] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[THAMGIADT] CHECK CONSTRAINT [FK_HG5_MAGV]
GO
